.timeline-vertical{
	position: relative;
	display: flex;
	justify-content: center;
}
.timeline-vertical .timeline-group{
	position: relative;
	margin-left:3rem;
	margin-right:3rem; 
}
.timeline-vertical .timeline-item{
	position: relative;
	display: flex;
	margin-bottom: 2rem;
}
.timeline-vertical .timeline-item .timeline-point-wraper{
	min-width: 90px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.timeline-vertical .timeline-item .timeline-point-wraper .timeline-point{
	width: 30px;
	min-width: 30px;
	height: 30px;
	padding: 3px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	position: relative;
	background-color: white;
	z-index: 10;
}
.timeline-vertical .timeline-item .timeline-point-wraper .timeline-point-account{
	width: 45px;
	min-width: 45px;
	height: 45px;
}
.timeline-vertical .timeline-item .timeline-point-wraper .timeline-point-delete{
	width: 35px;
	min-width: 35px;
	height: 35px;
}
.timeline-vertical .timeline-item .timeline-point-wraper .timeline-point .timeline-point-color{
	width: 100%; 
	height: 100%; 
	background-color: #E57373;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white
}
.timeline-vertical .timeline-item .timeline-content{
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
}
.timeline-vertical .timeline-content .timeline-date{
	display: flex;
}
.timeline-vertical .timeline-content .timeline-body{
	margin-right: 2rem;
}
.timeline-vertical .line{
	height: 100%; 
	background-color: grey; 
	width: 1px; 
	display: block;
	opacity: .5;
	position: absolute; 
	top: 0%; 
	bottom: 0%; 
	left: 45px;
}
.timeline-group:before{
	content: '';
	height: 100%; 
	background-color: grey; 
	width: 1px; 
	display: block;
	opacity: .5;
	position: absolute; 
	top: 0%; 
	bottom: 0%; 
	left: 45px;
}

@media (max-width: 1000px){
  .flex-group {
  	flex-wrap: wrap;
  }
}