body{
}
.card-body p{
	margin-bottom: 0.5rem
}
.card-header .docNameContainer{
	min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fileMD5Container{
	transition: 0.3s;
}
.fileMD5Container:hover .fileMD5{
	color: #1ebccd;
}
.closeBadge{
	color: rgba(255,255,255,0.5);
	transition: 0.2s;
}
.closeBadge:hover{
	color: rgba(255,255,255,1);
}
.FormAreementBadge{
	left: calc( 6px + 7rem);
}
.input-comment-document{
	padding-right: 45px;
	transition: 0.2s;
}