body{
}
.card-body p{
	margin-bottom: 0.5rem
}
.card-header .docNameContainer{
	min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fileMD5Container{
	transition: 0.3s;
}
.fileMD5Container:hover .fileMD5{
	color: #1ebccd;
}