<div class="card">
    <div class="card-header bg-transparent d-flex flex-wrap justify-content-between">
        <span class="d-flex align-items-center">
            Документ
        </span>
        <div class="btn border-success rounded-pill text-success text-nowrap" style="font-size: 0.8rem !important">
            <span class="mdi mdi-file-clock"></span>
            <span class="document_card_name">Расписание каникул
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Процесс согласования</h5>
        <div class="timeline my-3 px-2 d-flex justify-content-around" style="position: relative;">                            
            <div class="btn rounded-circle"
                style="width: 35px;height: 35px;                                
                box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                padding: 3px; position: relative; background-color: white;z-index: 10;"
                tabindex="0"
                role="button"
                data-toggle="popover"
                data-trigger="focus" 
                data-content="ESKIZ заявка"                                
            >
                <div class="btn rounded-circle" style="width: 100%; height: 100%; border-color: #1867c0 !important;"></div>
            </div>

            <div class="examplePoppver btn rounded-circle ml-4"
                style="width: 35px;height: 35px; 
                box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                padding: 3px; position: relative; background-color: white;z-index: 10;"
                tabindex="0"
                role="button"                                
                data-toggle="popover"
                data-trigger="focus"
                data-html="true"
                data-content=""                                
            >
                <div class="btn rounded-circle" style="width: 100%; height: 100%; background-color: #E57373 !important;"></div>
            </div>

            <div class="btn rounded-circle  ml-4"
                style="width: 35px;height: 35px; padding: 3px; 
                box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                position: relative; background-color: white;z-index: 10;"
                tabindex="0"
                role="button"
                data-toggle="popover"
                data-trigger="focus"
                data-content="ESKIZ заявка"
            >
                <div class="btn rounded-circle" style="width: 100%; height: 100%; background-color: #28a745 !important;"></div>
            </div>
            <span class="shadow-lg" style="height: 1px; background-color: grey; width: 100%; display: block;opacity: .5;
                position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></span>
        </div>


        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between">
            <a href="%$host%/id_documents.html" type="button" class="href_card_id_document btn btn-sm btn-info text-white">Перейти к документу</a>
            <button class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="Удалить документ">
                <span class="mdi mdi-delete"></span>
            </button>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated <span class="last_update_document">3 mins ago</span> </small>
    </div>
</div>