<div class="card shadow">
    <div class="card-header bg-transparent d-flex flex-wrap justify-content-between">
        <span class="d-flex align-items-center my-1 mr-1">
            Документ
        </span>
        <div class=" container_document_card_name btn border-info rounded-pill text-info text-nowrap" 
        style="font-size: 0.8rem !important; min-width: 50px; overflow: hidden; text-overflow: ellipsis;"
        data-toggle="tooltip" data-placement="top" title="Удалить документ"
        >
            <span class="mdi mdi-file-clock"></span>
            <span class="document_card_name">Расписание каникул</span>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Процесс согласования</h5>
        <div class="timeline my-3 px-2 d-flex justify-content-around" style="position: relative;">
            <div class="btn rounded-circle time-point"
                tabindex="0"
                role="button"
                data-toggle="popover"
                data-trigger="focus"
                data-placement="top"
                data-html="true"
                data-content=""                                
            >
                <div class="btn d-block rounded-circle empty-score"></div>
            </div>

            <div class="btn rounded-circle ml-4 time-point"
                tabindex="0"
                role="button"                                
                data-toggle="popover"
                data-trigger="focus"
                data-placement="bottom"
                data-html="true"
                data-content=""                                
            >
                <div class="btn d-block rounded-circle danger-score"></div>
            </div>

            <div class="btn rounded-circle  ml-4 time-point"
                tabindex="0"
                role="button"
                data-toggle="popover"
                data-trigger="focus"
                data-placement="top"
                data-html="true"
                data-content=""
            >
                <div class="btn d-block rounded-circle success-score"></div>
            </div>
        </div>


        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between">
            <a href="%$host%/id_documents.html" type="button" class="href_card_id_document btn btn-sm btn-info text-white">Перейти</a>
            <button class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="Удалить документ">
                <span class="mdi mdi-delete"></span>
            </button>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Последнее изменение <span class="last_update_document"></span> </small>
    </div>
</div>