<!DOCTYPE html>
<html>
<head>
	<title>timeline-vertival</title>
	<link rel="stylesheet" href="../Libs/bootstrap-4.4.1-dist/css/bootstrap.min.css">
  	<link href="../Libs/MaterialDesign-Webfont-master/css/materialdesignicons.css" rel="stylesheet" type="text/css"/>
  	<link rel="stylesheet" type="text/css" href="../css/timeline-vertical.css">
</head>
<body>


	<div class="timeline-vertical">
		<div class="py-4 timeline-group">

			<div class="timeline-item">
				<div class="timeline-point-wraper">
					<div class="btn rounded-circle timeline-point timeline-point-account">
						<div class="btn rounded-circle timeline-point-color bg-warning">
							<span class="mdi mdi-download"></span>
						</div>
					</div>
				</div>

				<div class="timeline-content">
					<div class="timeline-body">
						<h4 class="font-weight-light">Загрузил документ</h4>
						<a href="" type="button" data-toggle="tooltip" data-placement="top" title="Сафонов Георгий Юрьевич мл.науч.сотр.">
							Сафонов Г.Ю.<span class="mdi mdi-account ml-2"></span>
						</a>						
					</div>
					<div class="timeline-date font-weight-light">
						<span class="mr-1">05.05.1925</span>
						<span class="mdi mdi-calendar" type="button" data-toggle="tooltip" data-placement="top" title="16:00"></span>
					</div>
				</div>
			</div>

			<div class="timeline-item">
				<div class="timeline-point-wraper"></div>
				<div class="timeline-content">
					<h5 class="timeline-body text-muted font-weight-light">
						Процесс согласования
					</h5>					
				</div>
			</div>

			<div class="timeline-item">
				<div class="timeline-point-wraper">
					<div class="rounded-circle timeline-point"><div class="rounded-circle timeline-point-color bg-success"></div></div>
				</div>
				<div class="timeline-content">
					<div class="timeline-body">
						<span class="mdi mdi-account-circle" type="button" data-toggle="tooltip" data-placement="top" title="Рябинин Артем Денисович"></span>
						<span class="font-weight-bold text-muted">Рябинин А.Д.</span>						
						<span class="badge badge-success">Согласованно</span>
						<br>
						Все отлично, печатаем и на подпись! 
					</div>
					<div class="timeline-date">
						<span class="mr-1">05.05.1925</span>
						<span class="mdi mdi-calendar" type="button" data-toggle="tooltip" data-placement="top" title="16:00"></span>
					</div>
				</div>
			</div>

			<div class="timeline-item">
				<div class="timeline-point-wraper">
					<div class="rounded-circle timeline-point"><div class="rounded-circle timeline-point-color"></div></div>
				</div>
				<div class="timeline-content d-flex">
					<div class="timeline-body">
						<span class="mdi mdi-account-circle" type="button" data-toggle="tooltip" data-placement="top" title="Колдаев В.В."></span>
						<span class="font-weight-bold text-muted">Колдаев В.В.</span>
						<span class="badge badge-danger">Отказ</span>
						<br>
						Не верно указаны отступы в отчете а так же и третью главу нужно переписать. Жду исправлений ^_^ .
					</div>

					<div class="timeline-date">
						<span class="mr-1">05.05.1925</span>
						<span class="mdi mdi-calendar" type="button" data-toggle="tooltip" data-placement="top" title="16:00"></span>
					</div>
				</div>
			</div>

			<div class="timeline-item">
				<div class="timeline-point-wraper">
					<div class="rounded-circle timeline-point"><div class="rounded-circle timeline-point-color bg-success"></div></div>
				</div>
				<div class="timeline-content d-flex">
					<div class="timeline-body">
						<span class="mdi mdi-account-circle" type="button" data-toggle="tooltip" data-placement="top" title="Колдаев В.В."></span>
						<span class="font-weight-bold text-muted">Колдаев В.В.</span>
						<span class="badge badge-success">Согласованно</span>
						<br>
						Отличная работа увидел правки!
					</div>

					<div class="timeline-date">
						<span class="mr-1">05.05.1925</span>
						<span class="mdi mdi-calendar" type="button" data-toggle="tooltip" data-placement="top" title="16:00"></span>
					</div>
				</div>
			</div>


			<div class="timeline-item">
				<div class="timeline-point-wraper">
					<div class="rounded-circle timeline-point">
						<div class="rounded-circle timeline-point-color bg-primary">
							<span class="mdi mdi-message"></span>
						</div>
					</div>
				</div>
				<div class="timeline-content d-flex">
					<div class="timeline-body">
						<span class="mdi mdi-account-circle" type="button" data-toggle="tooltip" data-placement="top" title="Кислячук М.М."></span>
						<span class="font-weight-bold text-muted">Кислячук М.М.</span>
						<span class="badge badge-primary">Комментарий</span>
						<br>
						Я себе скопирую на всякий случай, хороший отчет.
					</div>

					<div class="timeline-date">
						<span class="mr-1">05.05.1925</span>
						<span class="mdi mdi-calendar" type="button" data-toggle="tooltip" data-placement="top" title="16:00"></span>
					</div>
				</div>
			</div>


			<div class="timeline-item">
				<div class="timeline-point-wraper">
					<div class="rounded-circle timeline-point timeline-point-delete">
						<div class="rounded-circle timeline-point-color bg-secondary">
							<span class="mdi mdi-delete"></span>
						</div>
					</div>
				</div>
				<div class="timeline-content d-flex">
					<div class="timeline-body">
						Документ удален
						<br>
						
					</div>

					<div class="timeline-date">
						<span class="mr-1">05.05.1925</span>
						<span class="mdi mdi-calendar" type="button" data-toggle="tooltip" data-placement="top" title="16:00"></span>
					</div>
				</div>
			</div>
			<span class="shadow-lg line"></span>
		</div>
	</div>



	<script src="../Libs/jquery-3.4.1.min.js" type="text/javascript"></script>
	<script src="../Libs/popper.min.js" type="text/javascript"></script>
	<script src="../Libs/bootstrap-4.4.1-dist/js/bootstrap.min.js" type="text/javascript"></script>
</body>
<script type="text/javascript">
	$(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</html>

