.visitorsLogTable .table td, .table th {
    padding: .6rem;
    vertical-align: middle;
}

.toDaySpan {
	display: flex;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	color: white;
}